.heroArea{
    height: 100vh;
    background: rgb(209, 50, 50);
    // background: linear-gradient(145deg, rgb(245, 22, 82) 0%, rgb(223, 23, 56) 100%);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);

    .hexDiv{
        display: flex;
        justify-content: space-evenly;
        width: 130px;
        margin: 15px auto;
        height: 25px;
    }

    .hex{
        width: 28px;
        height: 25px;
    }

    .waypoint{
        position: absolute;
        bottom: 100px;
        left: 0;
        opacity: 0;
    }

    .heroDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-35%) translateX(-50%);

        .whyReveBut{
            border: solid 2px white;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0);
            color: white;
            width: 180px;
            height: 55px;
            margin: 20px auto;

            font-size: 20px;
            font-weight: bold; 

            transition: all .1s ease;

            &:hover{
                cursor: pointer;
                background-color: rgba(255, 255, 255, 1);
                color: rgb(126, 13, 13);
            }
        }
    }
    .headerHero{
        width: 100%;
        color: white;
        text-align: center;
        font-size: 42px;
        font-weight: 800;
    }
    span{
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-top: 10px;
        letter-spacing: 1px;
    }
}

.homePage{
    padding-top: 60px;

    .portfolioSec{
        box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.15);
        
        .slide{
            overflow-x: auto;
            img{
                max-width: 100%;
                display: inline-block;
            }
        }
    }

    .serviceOptions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .serviceOps{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 48px;

            .serviceOp{
                margin: 40px auto;
                
                transform: translateY(-15px);
                opacity: 0;
                transition: all .3s ease;
            }

            .serviceOp:nth-child(1){
                i{
                    font-size: 44px;
                }
            }

            .serviceOp:nth-child(2){
                transition: all .6s ease .3s;
            }
            .serviceOp:nth-child(3){
                transition: all .9s ease .6s;
            }
            .serviceOp:nth-child(4){
                transition: all 1.2s ease .9s;
            }

            .on{
                opacity: 1;
                transform: translateY(0px);
            }

            h5{
                font-weight: bold;
                font-size: 24px;
                margin-top: 10px;
            }

            p{
                margin: 10px auto;
                font-size: 18px;
                line-height: 26px;
                width: 97%;
                max-width: 475px;
            }
            a{
                display: inline-block;
                background-color: rgb(224, 38, 69);
                color: white;
                text-decoration: none;
                font-size: 16px;
                padding: 15px 25px;
                border-radius: 35px;
                transform: scale(1);
                transition: all .1s ease;
                &:hover{
                    // background-color: #e20f41;
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }

        }

        .missionArea{
            background-color: rgb(224, 38, 69);
            max-width: 100%;
            margin: 80px auto;
            box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.2);
            padding: 50px auto;
            .mission{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                padding: 0 10px;
                
                // margin: 0 auto;
                
                // width: 100%;
                max-width: 600px;
            }

            


            h4{
                font-weight: 800;
                font-size: 42px;
                text-align: left;
                color: rgb(255, 255, 255);
                width: 70%;
            }

            .fab{
                color: white;
                font-size: 36px;
                padding-left: 30px;
                text-align: left;
            }

            p{
                text-align: left;
                font-size: bold;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1px;
                margin-top: 20px;
                color: white;
                max-width: 700px;
            }
            span{
                font-weight: bold;
            }
        }

        .reviewsArea{
            width: 100vw;
            .reviewsDesc{
                line-height: 26px;
                font-size: 22px;
                margin-bottom: 80px;
            }

            .reviews{
                // margin: 40px auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: center;
                align-items: auto;

                background-color: rgb(252, 252, 252);
                box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.2);

                .rDiv{
                    width: 50%;
                    height: 3px;
                    background-color: rgba(0, 0, 0, 0.5);
                    margin: 20px auto;
                    display: none;
                }

                .review{
                    margin: 30px auto;
                    
                    width: 98%;
                    max-width: 600px;
                    // overflow: auto;
                    text-align: center;

                    
                        .videoDiv{
                            margin: 30px auto;
                            width: 325px;
                            height: 182px;
                        }
                    


                    .reviewTitle{
                        font-size: 30px;
                        font-weight: 600;
                        
                        background-color: rgb(224, 38, 69);
                        color: white;
                        padding: 8px 5px;
                        // border-left: solid 4px rgb(223, 23, 56); 
                        text-align: left;

                        width: 90%;
                        max-width: 900px;
                        margin: 0 auto;
                    }
                    

                    .reviewText{
                        font-size: 20px;
                        line-height: 26px;
                        font-style: italic;
                        margin: 20px auto;
                        text-align: left;

                        width: 90%;
                        max-width: 900px;
                        // margin: 0 auto;
                        
                    }
                    .stars{
                        text-align: center;
                        .fas,.far{
                            font-size: 24px;
                            color: rgb(243, 206, 43);
                        }
                    }

                    .reviewImgSlide{
                        white-space: nowrap;
                        overflow-x: auto;
                        overflow-y: hidden;
                        margin-top: 20px;
                    }
                    .reviewImg{
                        display: inline-block;
                        margin: 0 3px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 250px;
                        padding-bottom: 166px;
                        cursor: pointer;
                        transition: all .1s ease;
                        &:hover{
                            opacity: .9;
                        }
                    }
                }
            }
        }

        .divLine{
            background-color: black;
            width: 3px;
            height: 200px;
            margin: 60px auto;
        }


        .start{
            padding: 0 5px;
            margin-bottom: 30px;
            h4{
                font-size: 36px;
                margin-bottom: 40px;
            }
            span{
                font-size: 24px;
            }

            .startBut{
                background-color: #e20f41;
                padding: 12px 25px;
                border: none;
                border-radius: 35px;
                font-size: 18px;
                color: white;
                text-decoration: none;
                transform: scale(1);
                transition: all .1s ease;
                &:hover{
                    // background-color: #e20f41;
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }

    
}

.homePage{
    max-width: 100%;

    .serviceOptions{
        .missionArea{
            width: 100%;
            max-width: 100%;
            padding: 80px 0;
            margin-left: 0;
            margin-right: 0;
            

            

            .mission{
                max-width: 800px;
                margin: 0 auto;
            }
        }
    }

    
}

// video sizing
@media only screen and (min-width: 525px){
    .homePage{
        .serviceOptions{
            .reviewsArea{
                .reviews{
                    .review{
                        .videoDiv{
                            width: 525px;
                            height: 295px;
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 1500px){
    .homePage{
        .serviceOptions{
            .reviewsArea{
                .reviews{
                    .review{
                        display: flex;
                        flex-direction: column;
                        
                        .reviewImgSlide{
                            display: flex;
                            justify-content: space-evenly;
                            margin: 0 auto;
                            width: 100%;
                            .reviewImg{
                                display: block;
                                width: 350px;
                                padding-bottom: 300px;
                            }
                            .dontshow{
                                display: none;
                            }
                        }

                        .reviewText{
                            order: 2;
                        }
                        .stars{
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1600px){
    .heroArea{
        .waypoint{
            top: 60%;
        }
    }

    .homePage{
        .serviceOptions{
            .serviceOps{
                flex-direction: row;
                margin-top: 50px;
                .serviceOp{
                    width: 25%;
                    p{
                        max-width: 80%;
                        height: 73px;
                    }
                }
            }
        }
    }

}